<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/WePost-Client/js/form.js"></script>
  <link rel="stylesheet" href="/WePost-Client/styles/form.css">
  <title>Document</title>
</head>

<body>
  <main>
    <section class="s1">
      <h1>Type your post here</h1>
      <form>
        <input id="text" type="text"> <br>
        <label id="GIF" for="search">GIF</label>
        <input id="search" type="search" />
        <button id="btnSearch">Go</button>
        <input id="postbtn" type="submit" value="POST">
      </form>
      <h1 id="header"></h1>
      <div class="out"></div>
    </section>
  </main>
</body>

</html>