<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/form.js"></script>
  <link rel="stylesheet" href="/styles/form.css">
  <title>Document</title>
</head>

<body>

  <section class="formContainer">
    <h1>Post</h1>
    <form>
      <textarea name="" id="text" cols="15" rows="5" placeholder="What's Happening?"></textarea>
      <br>
      <div class="gifContainer example">
        <label id="GIF" for="search">GIF</label>
        <input id="search" type="search" />
        <button id="btnSearch">Go</button>
      </div>
      <div class="out"></div>
      <input id="postbtn" type="submit" value="POST">
    </form>
  </section>

</body>

</html>
