<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/post.css">
    <script defer src="../scripts/like.js"></script>
    <title>Post</title>
</head>

<body>
    <section class="postContainer">
        <div class="postUserContainer">
            <img src="../images/profile.jpg" alt="">
            <p>Anonymous</p>
            <p class="postTime">- 30m</p>
        </div>
        <p class="postDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quo pariatur accusamus
            earum numquam. Tempora
            possimus doloribus qui omnis, rerum nemo, mollitia quibusdam aliquam voluptatem natus voluptate alias, modi
            deleniti?</p>
        <div class="postReactionContainer">
            <div>
                <img class="comment hover" src="../images/comment.svg" alt="">
                <svg class="heart hover">
                    <use href="../images/sprite.svg#heart"></use>
                </svg>
            </div>
            <div>
                <img class="emoji hover" src="../images/confused.svg" alt="">
                <img class="emoji hover" src="../images/laughing.svg" alt="">
                <img class="emoji hover" src="../images/happy.svg" alt="">
            </div>
        </div>
    </section>
    <section class="postContainer">
        <div class="postUserContainer">
            <img src="../images/profile.jpg" alt="">
            <p>Anonymous</p>
            <p class="postTime">- 30m</p>
        </div>
        <img class="gif" src="../images/697b023b-64a5-49a0-8059-27b963453fb1.gif" alt="">
        <div class="postReactionContainer">
            <div>
                <img class="comment hover" src="../images/comment.svg" alt="">
                <svg class="heart hover">
                    <use href="../images/sprite.svg#heart"></use>
                </svg>
            </div>
            <div>
                <img class="emoji hover" src="../images/confused.svg" alt="">
                <img class="emoji hover" src="../images/laughing.svg" alt="">
                <img class="emoji hover" src="../images/happy.svg" alt="">
            </div>
        </div>
    </section>
</body>

</html>