<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>

<body>
    <section class="container">
        <img src="../images/profile.jpg" alt="">
        <p>Anonymous</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quo pariatur accusamus earum numquam. Tempora
            possimus doloribus qui omnis, rerum nemo, mollitia quibusdam aliquam voluptatem natus voluptate alias, modi
            deleniti?</p>
        <div class="reactionContainer">
            <div>
                <img src="../images/comment.svg" alt="">
                <img src="../images/heart.svg" alt="">
            </div>
            <div>
                <img src="../images/laugh.svg.png" alt="">
                <img src="../images/thumbsup.webp" alt="">
                <img src="../images/shades.webp" alt="">
            </div>
        </div>
    </section>
</body>

</html>