* {
  font-size: 25px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

section {
  background-color: grey;
  color: white;
  width: 50%;
}

form * {
  font-family: inherit;
  font-size: inherit;
}

img {
  width: 300px;
  height: 300px;
}

#text {
  width: 98%;
}

#GIF {
  margin-left: 10px;
  font-family: fantasy;
  cursor: pointer;
}

#postbtn {
  margin-top: 20px;
  background-color: limegreen;
  margin-left: 325px;
  margin-bottom: 10px;
  border-radius: 30%;
  cursor: pointer;
}

.out {
  max-width: 800px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  display: flex;
}
