* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

header > a {
    color: #556427;
    text-decoration: none;
}

header > a:hover {
    color: #AAABB0;
}

.fa-ghost {
    font-size: 3rem;
}

/* styling navigation */

button {
    margin: 1rem;
    padding: 5px;
}

.container{
    width:100%;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #556427;
    border-radius: 1rem;
    color: #fff;
    transition: all 0.5s;
    overflow: hidden;
}
.wide{
    width: 100%;
}

/*style navicon bar*/
.show{
    display:block;
    background-color:initial;
    width:40px;
    height:30px;
    border:none;
    outline:none;
    cursor:pointer;
    align-self: center;
}
.show span{
    width:100%;
    height:5px;
    display:block;
    background-color:#fff;
    border-radius: 2px;
    transition:all 0.5s;
}
.show span:first-of-type{
    transform:translateY(-3px);
}
.show span:last-of-type{
    transform:translateY(3px);
}
.show .show-icon:first-of-type{
    display: none;
}
.show .show-icon:nth-of-type(2){
    transform:rotate(45deg);
}
.show .show-icon:last-of-type{
    transform:rotate(-45deg) translate(3px,-3px);
}

/*style menu*/
.menu{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.menu li{
    cursor: pointer;
    width: 100%;
    text-align:center;
    transition: background 0.4s linear;
}
.menu li:last-of-type{
    margin-bottom: 0;
}
.menu li:hover{
    background-color:rgba(255, 255, 255, 0.25);
   
}
.menu a{
    display: none;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    transition: all 0.5s;
    font-family: 'Roboto', sans-serif;
}
.menu a.show-anchor{
    display: inline-block;
    font-size: 1rem;
}
.menu li .icons{
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
}
.menu a.show-anchor li{
  text-align:left;
}

/* styling the main section */

.main {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.box-area {
    width: 90%;
    /* background-color: black; */
    display: flex;
    min-height: calc(100vh - 5rem);
    padding: 0;
}

.post-box {
    min-width: 5%;
    background-color: #ffffff;
    color: #000000;
    margin: 1rem 1rem 0 0;
    height: 80%;
}

.post-list {
    width: 80%;
    height: calc(100vh - 5rem);
    color: #000000;
    margin: 0 0 0 1rem;
    border-left: solid 1px grey;
    border-right: 1px solid grey;
    overflow: scroll;
    box-shadow: inset 0 -15px 10px #000000;
}

/* styling buttons */

.btn-container {
    background-color: #556427;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.btn-green {
    color: #ffffff;
    background-color: #556427;
    border-style: none;
    width: 100%;
    margin: 1rem 0;
    border-radius: 5px;

}

.btn-green:hover {
    color: #556427;
    background-color: #ffffff;
}